extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let packageid = toShow._id
    - let packagemode = toShow.mode
    - let packageprice = toShow.price
    - let packagequantity = toShow.quantity
  
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{packageid}
    - let actionid = "/resource/package/" + packageid
    form(id='packageForm', action= actionid, method="PUT")
      div.form-group
          label.costumeAttr(for='mode') package Type
          input#type(type='text', name='mode', value= mode )
      div.form-group
          label.costumeAttr(for='price') package Price
          input#price(type='text', name='price', value= price )
      div.form-group
          label.costumeAttr(for='flavor') package quantity
          input#flavor(type='text', name='quantity', value= quantity )
      input(type="submit")

  script.
    document.forms['packageForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      console.log(event.target)
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });